/* navMenu */
.navMenu {}
.navMenu_lista {}
@media (max-width: 610px) {
  .navMenu_lista {
    text-align: center;
  }
}
.navMenu_item {
  display: inline-block;
  vertical-align: middle;
}
.navMenu_link {
  padding: 14px 10px;
  display: block;
  cursor: pointer;
}
@media (max-width: 610px) {
  .navMenu_link {
    padding: 14px 7px;
    font-size: 11px;
  }
}
